- if @cart
  Cart with ID #{@cart.id} initiated

  - if @cart.line_items.present?
    %ul
      - @cart.line_items.each do |li|
        %li #{li.product.name} | QTY: #{li.qty} | #{link_to 'Delete', line_item_path(li.id), method: :delete}


%h2 Awesome shop products

%ul
  - @products.each do |product|
    %li #{product.name} only #{product.price} | #{link_to 'Add to cart', line_items_path(product_id: product.id), method: :post}
